.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.search-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: -10px;

}

.search-bar-container {
  text-align: center;
  padding: 40px 20px;
  background: url('../public/homepages/restaurant/images/foodiesfeed.com_paleo-chicken-skewers-with-plantains3.jpg')  center/cover no-repeat;
  color: white;
  border-radius: 20px;
}



.search-bar-title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 20px;
  color: azure;
}

.search-bar-form {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.input-group {
  display: flex;
  width: 100%;
  max-width: 600px;
}

.search-input {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 20px 0 0 20px;
  outline: none;
}

.search-btn {
  background-color: #6a37ff;
  color: white;
  border: 1px solid #6a37ff;
  border-radius: 0 20px 20px 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
 
}

.search-btn i {
  font-size: 18px;
}

.search-btn:hover {
  background-color: #5732d9;
}

.search-input::placeholder {
  color: #aaa;
}

.logo-title {
  font-size: 3rem; /* Adjust this to your desired default size */
}

/* Responsive font size for smaller screens */
@media (max-width: 600px) { /* Adjust the max-width as needed */
  .logo-title {
    font-size: 1.5rem; /* Adjust this to your desired smaller size */
  }
}

@media (max-width: 768px) {
 

  .search-bar-container {
    position: relative;
    padding: 40px 20px;
    border-radius: 20px;
  }

  .search-bar-title {
      font-size: 20px;
      margin-bottom: 15px;
  }

  .input-group {
      flex-direction: column;
      width: 100%;
  }

  .search-input {
      border-radius: 20px;
      margin-bottom: 10px;
      width: 100%;
      border-right: 1px solid #ddd; /* Resetting border for a stacked layout */
      background-color: rgba(255, 255, 255, 0.8); /* Slight transparency for better visibility */
  }

  .search-btn {
      border-radius: 20px;
      width: 100%;
  }

  .search-bar-container form {
    position: relative;
    z-index: 10;
}

.search-bar-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 20px;
}

}


